.App {
  text-align: center;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-gap: 48px;
  margin-top: 48px;
}

.download-button {
    border: 0;
    border-radius: 16px;
    background-color: black;
    color: white;
    width: 256px;
    height: 48px;
}

